services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env   # <-- aqui o caminho relativo à pasta onde está o docker-compose.yml
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rfid_db
      MYSQL_USER: Henrico
      MYSQL_PASSWORD: 7bWRSFLouFD7LeqERQmfKyybWtqfRMLFCRSrB3ZY13hAVBfvYTYarFzOiGUbr1q3
    ports:
      - "3306:3306"